@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital@1&display=swap');

$main-font: 'Bellota', cursive;

$light: #e6e6e6;
$dark: #1f1f1f;
$blue: #1c82a1;
$red: #d33231;
$yellow: #ebbd44;
