@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../styles/styles";
@import "./mixins";

// Light Mode

body {
    background-color: $light;
    color: $dark;
    font-family: $main-font !important;
}
