@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: #e6e6e6;
    color: #1f1f1f;
}

.delete-icon {
    font-size: 1em;
    color: #ff3333 !important;
    transition: ease-in-out 200ms;
    border: 2px solid #ff3333;
    border-radius: 10em;
    padding: 2px 6px;
}

.delete-icon:hover {
    color: #e6e6e6 !important;
    border-color: #bf2a39 !important;
    background-color: #bf2a39;
    cursor: pointer;
}
