@import "../../../styles/mixins";
@import "../../../styles/styles";

.navbar {
    background-color: $blue;
}

.head-text {
    text-align: left;
    font-size: 2em;
    padding: 0px 50px;
    margin-top: 30px;
    align-self: flex-start;
}

.dropdown {
    margin: 30px 15px;
}

.btn-secondary {
    background-color: $yellow;
    margin: 0px 25px;
}

.btn-danger {
    background-color: $red;
}
